


table{
    border-collapse:collapse;
}

td,th{
    border:1px solid black;
    border:none;
    border-collapse:collapse;
    margin:0;
    padding:0.5px;
    background-color:white;
}
img{
    padding:0;
    margin:0;
}

input.blueprint-run-input{
    width:60px;
}
input.me-input{
    width:34px;
}
input.system-input{
    width:75px;
}

select.structure-input{
    width:120px;
}
input.structure-efficiency-bonus-input{
    width:72px;
}

td.panel-tree-layer{
    vertical-align: top;
}


table.product-table-panel{
    border: 1px solid black;
    display:block;
    font-size:13px;
    width: var(--product-panel-width);
}   

table.product-table-panel img.product-icon{
    width: 30px;
}
table.product-table-panel td.product-icon{
    width: 30px;
    height:30px;
}
table.product-table-panel td.product-name{
    width: 140px;
}
table.product-table-panel td.product-setting{
    width:22px;
}

table.product-table-panel tr:hover .mouseover-group {
    background-color: rgb(201, 255, 214);
}



table.product-table-panel.selected-panel td.product-icon, table.product-table-panel.selected-panel td.product-name , table.product-table-panel.selected-panel td.product-setting {
    background-color:rgb(201, 255, 214);
}

table.product-table-panel.opened-panel td.product-icon, table.product-table-panel.opened-panel td.product-name , table.product-table-panel.opened-panel td.product-setting {
    background-color:rgb(178, 196, 255);
}

table.price-table{
    font-size:11px;
}

table.price-table tr{
    height:15px;
}

table.price-table td.buy-label{
    width:32px;
}
table.price-table td.buy-price{
    width:150px;
}
table.price-table td.buy-radio{
    width:15px;
}


input.custom-price-input{
    width:100px;
    font-size:12px;
}





.hidden-data{
    display: none !important;
}
