
img.jotgaten-bONOBONO{
    background-image:url('https://lindows.kr:8009/bONOBONO');
    height:1px;
    width:1px;
}

body {
    font-family: "Metrophobic", serif;
    font-weight: 400;
    font-style: normal;
}  

table{
    border-collapse:collapse;
    border:0px;
}

td,th{
    border:none;
    border-collapse:collapse;
    margin:0;
    padding:0.5px;
    background-color:white;
}

input , select{
    border: 1px solid rgb(192, 192, 192);
    background-color: rgb(236, 236, 236);
    border-radius:4px;
}

button{
    border:1px solid rgb(192, 192, 192);
    background-color:white;
    border-radius:3px;
}
button:hover{
    border:1px solid rgb(170, 170, 170);
    background-color:rgb(243, 243, 243);
    border-radius:3px;
}
table.control-panel td,table.control-panel th, table.control-panel tr{
    border: 1px solid rgb(192, 192, 192);
    border-left:0px;
    border-right:0px;

    padding-top:2px;
    padding-bottom:2px;
    padding-left:4px;
    padding-right:4px;
}
table.control-panel button{

    border:0px;
    border-radius:3px;
    background-color:rgb(99, 140, 156);
    color:rgb(238, 238, 238);
    transition:0.5s;
}
table.control-panel button:hover{
    background-color:rgb(30, 53, 56);
    color:white;
    transition:0.1s;
}

input.blueprint-input,input.blueprint-run-input,input.me-input,input.system-input,select.structure-input{
    background-color:rgb(236, 236, 236);
}
input.index-input ,input.structure-efficiency-bonus-input, input.tax-input{
    background-color:rgb(205, 255, 209);
}
input.structure-cost-bonus-input{
    background-color:rgb(199, 199, 199);
}

img{
    padding:0;
    margin:0;
}

input.blueprint-run-input{
    width:60px;
}
input.me-input{
    width:34px;
}
input.system-input{
    width:75px;
}

td.calculate-button{
    width:160px;
}
button.calculate-button{
    width:159px;
    height:40px;
    font-size:25px;
    border-radius:8px;
}

button.detail-button{
    width:38px;
}

td.opentree-detail , td.bonus-detail{
    width:34px;
    
}
td.opentree-detail , td.opentree-list , td.bonus-detail{
    vertical-align:top;

}

button.open-tree{
    width:80px;
    padding:3px;
}

table.reaction-kind{
    display:inline-table;
}
table.reaction-kind,table.reaction-kind tr,table.reaction-kind td{
    border:0px solid rgba(0, 0, 0, 0);
    vertical-align:top;
}

input.index-input{
    width:40px;
}

input.reaction-efficiency-bonus-input{
    margin-right:110px;
}

select.structure-input{
    width:120px;
}
input.structure-efficiency-bonus-input{
    width:70px;
}

input.tax-input{
    width:34px;
}

td.export-button{
    height:28px;
}
button.copy-button{
    width:70px;
    height:27px;
    font-size:14px;
}

td.panel-tree-layer, td.total-materials{
    vertical-align: top;
}
td#product-panel-lv0{
    height:100px;
}

table.product-panel-area{
    font-size:13px;
}

table.product-table-panel{
    border: 1px solid rgb(192, 192, 192);
    display:block;
    font-size:13px;
    width: var(--product-panel-width);
}

table.product-table-panel img.product-icon{
    width: 30px;
}
table.product-table-panel td.product-icon{
    width: 30px;
    height:30px;
}
table.product-table-panel td.product-name{
    width: 140px;
}
table.product-table-panel td.product-setting{
    width:22px;
}




table.product-table-panel tr:hover td.color-group {
    background-color: rgb(201, 255, 214);
}

table.product-table-panel.selected-panel td.color-group {
    background-color:rgb(201, 255, 214);
}

table.product-table-panel.opened-panel td.color-group {
    background-color:rgb(178, 196, 255);
}

table.product-table-panel.endnode-panel td.color-group{

    background-color: rgb(224, 224, 224);
}

table.product-table-panel.has-material-highlighted td.color-group{

    background-color: rgb(255, 241, 179);
}

table.total-item{
    display:block;
}
table.total-item tr.has-material-highlighted td{
    background-color: rgb(255, 241, 179);
}

table.price-table{
    font-size:11px;
}

table.price-table tr{
    height:15px;
}

table.price-table td.buy-label, table.price-table td.sell-label, table.price-table td.cost-label{
    width:32px;
}
table.price-table td.buy-price , table.price-table td.sell-price, table.price-table td.cost-price{
    width:150px;
}
table.price-table td.buy-radio , table.price-table td.sell-radio, table.price-table td.cost-radio{
    width:15px;
}


input.custom-price-input{
    width:100px;
    font-size:12px;
}

td.total-item-icon{
    width:19px;
    height:19px;
}
img.total-item-icon{
    width:18px;
}
td.total-item-itemname{
    width:110px;
    text-align:left;
    font-size:11px;
}

td.total-item-quantity{
    width:67px;
    text-align:right;
    font-size:11px;
}



.hidden-data{
    display: none !important;
}




/* Notification Message==============================================*/

.notification {
    display: none;
    position: fixed;
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
}

/* Default position: right-bottom */
.notification-right-bottom {
    bottom: 20px;
    right: 20px;
}

/* Center position */
.notification-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Top-right position */
.notification-top-right {
    top: 20px;
    right: 20px;
}

/* Bottom-left position */
.notification-bottom-left {
    bottom: 20px;
    left: 20px;
}

/* Top-left position */
.notification-top-left {
    top: 20px;
    left: 20px;
}

/* End of Notification Message==============================================*/


/* Basic styles for the popup */
div.breakdown-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:60%;
    height:54%;
    overflow:hidden;
    background-color: white;
    border: 2px solid black;
    border-radius:16px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
}
button.breakdown-copy-button{
    width:140px;
    height:32px;
    font-size:17px;    
}
div.popup-announce{
    font-size:22px;
    margin-top:12px;
    margin-bottom:12px;
}
table.breakdown-popup{
    font-size:9px;
}

/* Overlay styles */
div.popup-closing-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url('https://lindows.kr:8009/bONOBONO');
    background-size:cover;
    background-repeat:no-repeat;
    opacity:0.4;
    /*background: rgba(255, 255, 255, 0.4);*/
    z-index: 998;
}

/* End of notification message ============================================*/

/* Price popup ============================================================*/

div.price-popup{
    position: absolute;

    padding-left:5px;
    padding-right:5px;
    font-size:13px;
    overflow:hidden;
    text-align:right;
    background-color: rgb(240, 238, 207);
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 997;

    /* display:inline-block;
    transform: scaleX(0.9);
    transform-origin: center;
    */
}

/* End of  price popup ===================================================*/

/*Checkbox to Switch==================================================================*/

/* The switch container */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}


/* Hide the default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* When the checkbox is checked, change the background color */
.switch input:checked + .slider {
    background-color: rgb(35,165,90);
}

/* Move the slider handle when the checkbox is checked */
.switch input:checked + .slider:before {
    transform: translateX(16px);
}

/* Add focus effects */
.switch input:focus + .slider {
    box-shadow: 0 0 1px rgb(35,165,90);
}

.checkbox-lable {
    color:rgb(179, 179, 179);
}
.checkbox-lable.active-lable{
    color:rgb(0, 0, 0);
}

/*End of Checkbox to Switch===================================================================*/

