div#lindows-top-banner{
    border:0px solid;
    border-bottom:1px solid rgb(92, 203, 255);
}

div#lindows-top-banner table{
    border-collapse:collapse;
    border:0px solid;
    background-color:rgba(255, 255, 255, 0);
}
div#lindows-top-banner table:hover{
    background-color:rgba(255, 255, 255, 0);
}

div#lindows-top-banner a{
    
    font-size:17px;
    font-family: "Metrophobic", serif;
    font-weight: bold;
    color:rgba(217, 141, 0, 1);
}