<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buyback_list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui_frame.css') }}">
    <title>Contract List</title>
</head>
<body>
    <div id="lindows-top-banner"></div>
    <script src="{{ url_for('static', filename='js/ui_frame.js') }}" defer></script> 
    
    <div class="container">
        <h1>Contract List</h1>
        <table>
            <thead>
                <tr>
                    <th>Contract ID</th>
                    <th>Character Name</th>
                    <th>Registered Timestamp</th>
                    <th>Is Completed</th>
                </tr>
            </thead>
            <tbody>
                {% for contract in contracts %}
                <tr>
                    <td><a href="{{ url_for('buyback_history', contract_number=contract[0]) }}" target="_blank">{{ contract[0] }}</a></td>
                    <td><a href="{{ url_for('buyback_history', contract_number=contract[0]) }}" target="_blank">{{ contract[1] }}</a></td>
                    <td><a href="{{ url_for('buyback_history', contract_number=contract[0]) }}" target="_blank">{{ contract[2] }}</a></td>
                    <td>{{ 'Yes' if contract[3] else 'No' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('buyback_list', page=page-1) }}">&laquo; Previous</a>
            {% endif %}
            <a href="{{ url_for('buyback_list', page=page) }}" class="active">{{ page }}</a>
            <a href="{{ url_for('buyback_list', page=page+1) }}">Next &raquo;</a>
        </div>
    </div>
</body>
</html>
