<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' https://images.evetech.net;">
    <title>Buyback Calculator</title>
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buyback.css') }}">
</head>
<body>
    <div class="container">
        <h1>Buyback Calculator</h1>

        <!-- Character Info -->


        <!-- Input Form -->
        <form id="inputForm" class="form-container">
            {% if character_id == 0 %}
                <p><a href="{{ url_for('login') }}">You can login with Eve online ESI</a></p>
            {% else %}
                <p>Character : {{ character_name }} <a href="{{url_for('logout')}}">Logout</a></p>
            {% endif %}
            <p><a href="{{ url_for('buyback_notice') }}" target="_blank">Detailed Information</a>-<a href="{{ url_for('buyback_notice') }}?language=ko" target="_blank">상세 설명(한글)</a></p>
            </p>
            <p>Buyback contract to <a class="eve-link" href="https://evewho.com/character/92497990">Ubuntu Hakurei</a>, at between <font class="eve-link">FR46-E</font> ~ <font class="eve-link">O3-4MN</font></p>

            <label for="language">Input language:</label>
            <select id="language" name="language">
                <option value="en" selected>En</option>
                <option value="ko">Ko</option>
            </select>

            <label for="input_items">Enter Items:</label>
            <textarea id="input_items" name="input_items" rows="10" cols="50"></textarea>

            <button type="button" id="calculateButton" class="btn">Calculate</button>
        </form>

        <!-- Results Section -->
        <div id="resultSection" class="result-section">
            <!-- Results will be dynamically inserted here -->
        </div>

        <!-- Submit Button (Initially hidden) -->
        <div id="submitSection" class="submit-section"> 
            <button type="button" id="submitButton" class="btn">Submit</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/buyback.js') }}" defer></script>  
</body>
</html>
