<!DOCTYPE html>
<html>
<head>
    <title>Industry Calculator</title>
    <!-- Link to the CSS file in the static/css directory -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/industry_calculator.css') }}">
</head>
<body>
    <table border="1">
        <tr>
            <td></td>
            <th>Blueprint</th>
            <td>
                <input list="blueprint-options" id="blueprint-input" class="blueprint-input">
                <datalist id="blueprint-options">
                    <!-- Options will be populated dynamically -->
                </datalist>
                Run: <input type="number" id="blueprint-run-input" min="1" step="1" class="blueprint-run-input" value="1"> 
                ME: <input type="number" id="me-input" min="0" max="10" step="1" class="me-input" value="0"> %  
                System : <input list="industry-system-options" id="system-input" class="system-input">
                <datalist id="industry-system-options">
                    <!-- Options will be populated dynamically -->
                </datalist>
                <button id="calculate-button" class="caculate-button">Calculate</button>
            </td>
        </tr>
        <tr id="manufacturing-setting-row">
            <td><button id="calculator-detail-button" class="detail-button">▤</button></td><th> Manufacturing</th>
                <td>
                    
                    Index: <input type="number" id="manufacturing-system-index" min="0.1" max="100" step="0.01" class="index-input">
                    Structure&Rig: 
                    <select id="manufacturing-structure-select" class="structure-input">
                        <!-- Options will be populated dynamically -->
                    </select>
                    Bonus: <input type="number" id="manufacturing-structure-bonus" min="0" max="10" step="0.001" class="structure-bonus-input">
                    Tax: <input type="number" id="manufacturing-tax" min="0" max="100" step="0.1" class="tax-input"> %
                </td> 
        </tr>
        <tr id="component-setting-row" class="hidden-data">
            <td></td><th>Component</th>
            <td>
                Index: <input type="number" id="component-system-index" min="0.1" max="100" step="0.01" class="index-input">
                Structure&Rig: 
                <select id="component-structure-select" class="structure-input">
                    <!-- Options will be populated dynamically -->
                </select>
                Bonus: <input type="number" id="component-structure-bonus" min="0" max="10" step="0.001" class="structure-bonus-input">
                Tax: <input type="number" id="component-tax" min="0" max="100" step="0.1" class="tax-input"> %
            </td>
            
        </tr>
        <tr id="reaction-setting-row" class="hidden-data">
            <td></td><th>Reaction</th>
            <td>
                Index: <input type="number" id="reaction-system-index" min="0.1" max="100" step="0.01" class="index-input">
                Structure&Rig: 
                <select id="reaction-structure-select" class="structure-input">
                    <!-- Options will be populated dynamically -->
                </select>
                Bonus: <input type="number" id="reaction-structure-bonus" min="0" max="10" step="0.001" class="structure-bonus-input">
                Tax: <input type="number" id="reaction-tax" min="0" max="100" step="0.1" class="tax-input"> %
            </td>
            
        </tr>
        <tr id="fuel-setting-row" class="hidden-data">
            <td></td><th>Fuel</th>
            <td>
                Index: <input type="number" id="fuel-system-index" min="0.1" max="100" step="0.01" class="index-input">
                Structure&Rig: 
                <select id="fuel-structure-select" class="structure-input">
                    <!-- Options will be populated dynamically -->
                </select>
                Bonus: <input type="number" id="fuel-structure-bonus" min="0" max="10" step="0.001" class="structure-bonus-input">
                Tax: <input type="number" id="fuel-tax" min="0" max="100" step="0.1" class="tax-input"> %
            </td>
            
        </tr>
        <tr>
            <td><button id="opentree-detail-button" class="detail-button">▤</button></td>
            <td colspan="2">
                <button id="open-button">Open Tree</button> 
                <a id="opentree-checkboxs-area" class="hidden-data">
                Basement <input type="checkbox" id="basement-checkbox">
                 | Component <input type="checkbox" id="component-checkbox">
                 | Reaction <input type="checkbox" id="reaction-checkbox">
                 | Fuel <input type="checkbox" id="fuel-checkbox">
                 | PI <input type="checkbox" id="pi-checkbox">
                </a>
                
            </td>
        </tr>
    </table>

    <table id="product-pannel-area" class="product-pannel-area">
        <tr>
            <td id="product-pannel-lv0">

            </td>
            <td id="product-pannel-lv1">

            </td>
            <td id="product-pannel-lv2">

            </td>
            <td id="product-pannel-lv3">

            </td>
            <td id="product-pannel-lv4">

            </td>
            <td id="product-pannel-lv5">

            </td>
            <td id="product-pannel-lv6">

            </td>
        </tr>

    </table>
    <!-- Store blueprint data in a data attribute or script tag --> 
    <div id="blueprint-data" data-blueprints='{{ blueprints|tojson }}' class="hidden-data"></div>
    <script src="{{ url_for('static', filename='js/industry_calculator.js') }}"></script>
    <script src="{{ url_for('static', filename='js/industry_calculator_product.js') }}"></script>
</body>
</html>
