<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/manufacturing_token.css') }}">
    <title>Manufacturing Token</title>
</head>
<body>
    {% if access_token %}
        <p>Character Name : {{ character_name }}</p><br>
        <p>Access token : <span class='access-token'>{{ access_token }}</span>
            <input type="hidden" id='hidden-active-token' value="{{active_token}}">
            <button id='button-copy-access-token' class="copy">📋</button></p><br>
    {% else %}
        <p>Refresh token : Take care of security <span class='refresh-token'>{{ refresh_token[:5] }}</span>
            <input type="hidden" id='hidden-refresh-token' value="{{refresh_token}}"><button id='button-copy-refresh-token' class="copy">📋</button></p>
    {% endif %}
</body>
<script src="{{ url_for('static', filename='js/manufacturing_token.js') }}"></script>
</html>
