<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/manufacturing_token.css') }}">
    <title>Manufacturing Token</title>
</head>
<body>
    {% if access_token %}
        <p>Character Name : {{ character_name }}</p><br>
        <p>Access token : <div class='access-token'>{{ access_token }}</div>
            <input type="hidden" id='hidden-active-token' value="{{active_token}}">
            <button id='button-copy-access-token' class="copy" onclick="copyActiveToken()">📋</button></p><br>
    {% else %}
            <p> No token is found. <a href='https://lindows.kr:8001/login' target="_blank">Please log in again with <b>'manufacturing'</b> option.</a></p>
    {% endif %}
    <br><br><br>
    {% if refresh_token %}
    <p>Refresh token : Take care of security <div class='refresh-token'>{{ refresh_token[:5] }}</div>
        <input type="hidden" id='hidden-refresh-token' value="{{refresh_token}}" onclick="copyRefreshToken()"><button id='button-copy-refresh-token' class="copy">📋</button></p>
    {% endif %}
</body>
<script src="{{ url_for('static', filename='js/manufacturing_token.js') }}"></script>
</html>
