<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manufacturing Token</title>
    <style nonce="{{ nonce }}">
        div.access-token {
            width: 240px;
            height: 20px;
            overflow: hidden;
        }
        button.copy {
            width: 80px;
            height: 20px;
            border: 0;
            background-color: rgba(0, 0, 0, 0);
            font-size: 18px;
        }
    </style>
</head>
<body>
    {% if access_token %}
        <p>Character Name : {{ character_name }}</p><br>
        <p>Access token : <span class='access-token'>{{ access_token }}</span><button id='button-copy-access-token' class="copy">Copy</button></p><br>
    {% else %}
        <p>Refresh token : Take care of security <span class='refresh-token'>{{ refresh_token[:5] }}</span></p>
    {% endif %}
    <script nonce="{{ nonce }}">
        // Your inline scripts here
    </script>
</body>
</html>
